/* ActivityCard.module.css */
.activityCard {
  position: relative;
  width: 250px; /* Adjust width as needed */
  height: 250px;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.activityImage {
  width: 100%;
  height: 150px; /* Example fixed height */
  object-fit: cover;
}

.activityInfo {
  padding: 10px;
  background-color: #fff; /* Adjust background color as needed */
  cursor: pointer;
  flex-grow: 0; /* Do not allow the info section to grow */
  flex-shrink: 0;
}

.activityTitle {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.rating {
  display: flex;
  align-items: center;
}

.filledStar {
  /* Styles for filled star */
}

.emptyStar {
  /* Styles for empty star */
}

.reviewCount {
  margin-left: 5px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  overflow: hidden;
}

.price {
  /* Styles for price */
}

.categories {
  /* Styles for categories */
}

.favoriteIcon {
  position: absolute;
  top: 0;
  right: 0;
  /* Add styles for favorite icon */
}

.deleteIcon {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(218, 212, 212, 0.7); 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 5px 5px;
}

.deleteIcon:hover {
  background-color: rgba(255, 255, 255, 0.7); 
}

.favorite{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 45px;
  height: 45px; 
  border: 1px solid lightgrey;
  border-radius: 50%;
  background-color: #f0f0f0; /* Light grey background */
  margin: 10px 5px; /* Spacing between the boxes */
  min-width: 0;
}

.favorite:hover{
  background-color: rgb(197, 197, 197); /* Light grey background */

}

.selected {
  border: solid 5px black;
}

.activityCard2{
  position: relative;
  width: 100%; /* Adjust width as needed */
  height: 250px;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}