/* This is the CSS Module file where you define styles for the Trending component */
.trending {
    text-align: center;
    padding: 4rem 0;
    
  }
  
  .heading {
    margin-bottom: 2rem;
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-top: 80px;
    width: 100%;
    
  }
  
  .card {
    display:inline-block;
    margin: 0 20px 0 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cardHeader {
    position: relative;
  }
  
  .cardImg {
    width: 100%;
    height: 200px;
    z-index: 1;
    object-fit: cover;
  }

  .cardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 30%, rgba(0,0,0,0.5) 90%);
  }


  .cardTitle {
    position: absolute;
    top: 50px; /* Adjust so it's above the .cardLocation */
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    color: white; /* Adjust color as needed */
    font-size: 1.5rem; /* Adjust font size as needed */
    text-align: center;
    max-width: 90%; /* Prevents the title from being too wide */
    padding: 5px; /* Padding around the text */
    border-radius: 4px; 
  }
  
  .cardLocation {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 3;
    color: white; /* Adjust color as needed */
    font-size: 0.875rem;
  }
  
  .cardButtonLink {
    position: absolute;
    right: 10px; /* Adjust as needed */
    bottom: 10px; /* Adjust as needed */
    z-index: 4; /* Higher than the image and overlay */
  }

  .cardBody {
    padding: 1rem;
  }
  
  .cardInfo {
    margin: 1rem 0;
    color: #333; /* Example color - replace with your own variable or color code */
    display: flex;
    flex-direction: column;
  }
  
  .cardPricing {
    font-weight: bold;
  }
  
  .cardButton {
    background-color: white;
    font-weight: 550;
    color: black;
    border: none;
    padding: 0.75rem 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
  }
  
  .cardButton:hover {
    background-color: grey;
  }
  .cardMonth {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 3;
    color: white; /* Adjust color as needed */
    font-size: 1rem; /* Adjust font size as needed */
    
    padding: 5px; /* Padding around the text */
    border-radius: 4px; /* Optional, for rounded corners */
  }
  