.TripCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
    height: 80px; 
  }
  .tripCard{
    padding-left: 100px;

  }

  .addButton {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px; /* Adjust as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow to the button */
    margin-top: 20px; /* Add space above the add button */
    }
  
  .placeholder {
    width: 600px;
    height: 80px; 
    border: 2px solid lightgrey;
    border-radius: 10px;
    background-color: #f0f0f0; /* Light grey background */
    margin: 10px 0; /* Spacing between the boxes */
  }

  .Container {
    display: flex;
    justify-content: space-between; /* Adjusts items on the main axis */
    margin-top: 100px;
    align-items: flex-start; /* Aligns items at the start of the cross axis */
  }
  
  .sidebar {
    margin-top: 0px;
    padding-left: 0; /* Adjust or remove padding */
    margin-left: 0;
    width: 55vw; /* Adjust the width accordingly */
  }

  @media (max-width: 1020px) {
    .sidebar {
      align-items: center;
      width: 100%; /* This makes the sidebar use the full width available */
      padding-left: 0px; /* Adjust the padding as needed for smaller screens */
      padding-right: 0px; /* Ensures content doesn't touch the screen edges */
    }
  
    .mainContent {
      display: none; /* This hides the main content area, including the map */
    }
  
    .Container {
      flex-direction: column; /* Stack sidebar and mainContent vertically, if you decide to show mainContent for any reason */
      margin-top: 100px;
      align-items: center; /* This centers the sidebar when it's the only visible element */
      
    }
  
    .tripCard{
      padding-left: 100px;
    }
    
  }

  

  .mainContent {
    width: 45vw; /* Adjust based on your preference */
    position: relative; 
  }
  
  .mapContainer {
    position: fixed;
    width: 700px;
    height: 400px; /* Set a fixed height or adjust as needed */
    
  }

  .activities {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the space between cards as needed */
  }
  
  .activities > div { /* Assuming each activity card is wrapped in a div */
    flex: 1 1 calc(50% - 20px); /* Adjust the subtraction value based on your gap */
  }