.TripCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
    height: 80px; 
    
  }
  
  .addButton {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px; /* Adjust as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow to the button */
    margin-top: 20px; /* Add space above the add button */
    }
  
  .placeholder {
    width: 600px;
    height: 80px; 
    border: 2px solid lightgrey;
    border-radius: 10px;
    background-color: #f0f0f0; /* Light grey background */
    margin: 10px 0; /* Spacing between the boxes */
  }

  .Container {
    margin-top: -40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  
  .sidebar {
    margin-top: 150px;
    padding-left: 80px;
    width: 55vw; /* Adjust the width accordingly */
    margin-right: 0.01%; /* Provides some space between the columns */
  }

  @media (max-width: 600px) {
    .sidebar {
      align-items: center;
      width: 100%; /* Adjust the width accordingly */
    }
    .Container {
      margin-top: 100px;
      margin-left: auto;
    }
  }


  .mainContent {
    width: 63%; /* Adjust the width accordingly */
  }
  
  .mapContainer {
    width: 700px;
    height: 400px; /* Set a fixed height or adjust as needed */
    
  }

  .activities{
    position: relative;
    padding-right:100px;

  }